<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APPLE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LOCAL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ND91.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Rekoo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SKY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E851CD61AA4818700E28967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EAFB1BD1AA178050067E9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47D7C3FD173361C1007EE421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F2660D5192B70680069519F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA08672188E4A7800C299CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FCC71071901054C00C55A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E13E0E31A6656CC002CF253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7BA0901A5E8B3300CEEAA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A631D8311A67FEC500163F8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A640A5CB1A6FBCD300ADE7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6FC533A1A6A874600674F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
